.item {
	margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.3s;
    padding: 10px 2px;
}
.item:hover {
	background-color: rgb(226, 226, 226);
}
.activeItem {
    background-color: rgb(226, 226, 226);
}
