.item {
	margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.3s;
    padding: 10px 2px;
}
.item:hover {
	background-color: rgb(226, 226, 226);
}
.text {
	width: 90%;
}
.like {
	width: 15px;
	height: 15px;
	color: red;
	margin-right: 5px;
	transition: 0.4s;
}
.notLike {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	transition: 0.4s;
}