.content {
	display: flex;
}
.collumn {
	height: 90vh;
	width: 100%;
	overflow-y: scroll;
	padding: 20px 11px 0px 15px;
}
.collumn_item__left {
	margin-bottom: 10px;
	cursor: pointer;
}
.collumn_item__right {
	margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collumn_item__right_text {
	width: 90%;
}
.header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_amount {
	margin-left: 10px;
}
.like {
	width: 10px;
	height: 10px;
	background-color: blue;
	border-radius: 50%;
	margin-right: 5px;
}
.notLike {
	width: 10px;
	height: 10px;
	background-color: grey;
	border-radius: 50%;
	margin-right: 5px;
}